:root {
    --primary-color: #FF4530;
    --grey-color: #C2C2C2;
    --grey-color-2: #5C5C5C;
    --warning-light-color: #FFF8DD;
    --warning-dark-color: #DEAD00;
    --success-light-color: #DFFFEA;
    --success-dark-color: #17C653;
    --danger-light-color: #FFEEF3;
    --danger-dark-color: #F8285A;
    --blue-color: #3E8EDE;
    --blue-light-color: #90CAF9;
    --black-color: #333333;
    --green-dark-color: #50C878;
    --green-light-color: #96DEAE;
    --yellow-dark-color: #F6C23E;
    --yellow-light-color: #FADA8B;
    --purple-dark-color: #8D45D1;
    --purple-light-color: #BB8FE3;
    --blue-light-pill: #E9F3FF;
    --blue-dark-pill: #1B84FF;
    --red-color: #F64E60;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-warning-dark {
    color: var(--warning-dark-color) !important;
}

.text-danger-dark {
    color: var(--danger-dark-color) !important;
}

.text-success-dark {
    color: var(--success-dark-color) !important;
}

.text-dark {
    color: var(--black-color) !important;
}

.text-grey {
    color: var(--grey-color) !important;
}

.text-grey-2 {
    color: var(--grey-color-2) !important;
}

.text-blue {
    color: var(--blue-color) !important;
}

.text-blue-2 {
    color: var(--blue-dark-pill) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-warning-light {
    background-color: var(--warning-light-color) !important;
}

.bg-success-light {
    background-color: var(--success-light-color) !important;
}

.bg-danger-light {
    background-color: var(--danger-light-color) !important;
}

.bg-blue-light {
    background-color: var(--blue-light-color) !important;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-dark {
    background-color: var(--black-color) !important;
}

.bg-green-light {
    background-color: var(--green-light-color) !important;
}

.bg-yellow-light {
    background-color: var(--yellow-light-color);
}

.bg-purple-light {
    background-color: var(--purple-light-color);
}

.bg-blue-light-2 {
    background-color: var(--blue-light-pill);
}

.bg-green {
    background-color: var(--green-dark-color) !important;
}

.bg-red {
    background-color: var(--red-color);
}

.bg-yellow {
    background-color: var(--yellow-dark-color);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0 !important;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding-left: 0 !important;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333333 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.col-10 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}