@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&display=swap');

.sidebar {
    padding: 0 .5rem;
}

.sidebar-brand-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.sidebar-brand-text {
    font-family: 'Pacifico', cursive;
    color: #FFFFFF;
    font-size: 1.6rem;
}

.sidebar-title {
    color: #C8C8C8;
}

.icon-link:hover {
    background-color: var(--primary-color);
    color: #FFFFFF !important;
}

.sidebar-nested-links {
    background-color: #525252;
}

.search-box {
    width: 35%;
}

.search-input {
    background-color: #F2F2F2;
    border: none;
}

.search-input::placeholder {
    color: #595959;
}

.search-input:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    background-color: #F2F2F2;
}

.notification-alert-icon {
    border: none;
    background-color: #f2f2f2;
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
}

.notification-alert-icon i {
    font-size: 1.3rem;
}

.user-profile {
    border-left: 3px solid #D6D6D6;
    padding-left: 1rem;
}

.user-profile-role {
    color: #D6D6D6;
    font-size: .9rem;
    margin-top: .2rem;
    font-weight: 400 !important;
}

.user-profile-picture {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-left: .8rem;
}

.content-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.total-card {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 0px rgba(51, 51, 51, 0.10);
    border-radius: .5rem;
}

.total-card-1 {
    border-left: 4px solid var(--blue-color);
}

.total-card-2 {
    border-left: 4px solid var(--green-dark-color);
}

.total-card-3 {
    border-left: 4px solid var(--yellow-dark-color);
}

.total-card-4 {
    border-left: 4px solid var(--purple-dark-color);
}

.admin-card {
    background-color: #FFFFFF;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0px 0px 14px 0px rgba(51, 51, 51, 0.10);
}

.table {
    vertical-align: middle;
}

.table-heading {
    color: #99A1B7 !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: .9rem !important;
}

.table>:not(caption)>*>* {
    padding: 0.4rem 0.5rem !important;
}

.blog-cover-table {
    height: 3rem;
    border-radius: .3rem;
}

.blog-duration {
    color: #C2C2C2 !important;
    font-weight: 300 !important;
    font-size: .9rem;
}

.blog-title {
    width: 35%;
    font-weight: 500;
}

.badge {
    font-weight: 600 !important;
    padding: .4rem .8rem;
}

.table-profile-picture {
    height: 3.2rem;
    border-radius: 50%;
}

.delete-btn:hover {
    background-color: var(--danger-light-color);
    color: var(--red-color) !important;
}

.edit-btn:hover {
    background-color: var(--success-light-color) !important;
    color: var(--green-dark-color) !important;
}

.revoke-btn:hover {
    background-color: var(--warning-light-color) !important;
    color: var(--warning-dark-color) !important;
}